<section class="user_card">
 <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: "btn btn-danger btn-sm" %>
  <ul>
    <% @users.order(:created_at).each do |person| %>
    <li>
      <%= link_to user_path(person.id) do %>
       <%= render partial: "user_details", locals: {user: person} %>
      <% end %>
      <% end %>
    </li>
  </ul>
</section>
